<div class="container">
    <form class="form" [formGroup]=formGroup>
        <div class="row">
            <div class="row col-3 p-2">
                <h4>Delete "{{ game.title }}"?</h4>
                <hr>
            </div>
            <div class="row">
                <div class="col-3 p-2">
                    <p><b>ID:</b>{{game._id}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3 p-2">
                    <p><b>Title: </b>{{game.title}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3 p-2">
                    <p><b>Link: </b>{{game.link}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3 p-2">
                    <a routerLink="/">
                        <button class="button-padding btn" type="submit" (click)="deleteGameForm(); formGroup.reset()">Delete</button>
                    </a>
                    <a routerLink="/info/{{game.link}}">
                        <button class="button-padding btn" >Cancel</button>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
