<div *ngIf="notFound">
    <four-zero-four></four-zero-four>
</div>
<div class="container flex-container" *ngIf="game">
    <div class="flex-left flex-vertical">
        <div>
            <h1>{{game?.title}}</h1>
        </div>
        <div>
            <img id="cover" src="../../assets/{{game.link}}.jpg">
        </div>
        <div>
            <a routerLink="/update/{{game.link}}" class="button-padding btn btn-secondary">Update</a>
            <a routerLink="/delete/{{game.link}}" class="button-padding btn btn-secondary">Delete</a>
        </div>
    </div>
    <div class="flex-right flex-vertical">
        <div class="flex-top info">
            <h4 class="centerTag">Summary:</h4>
            <p id="summary" class="centerTag">{{ game?.summary }}</p>
        </div>
        <div class="flex-bottom flex-container">
            <div class="col info">
                <h4>Info</h4>
                <ul>
                    <li id="dev"><b>Developer: </b>{{game?.information?.dev}}</li>
                    <li id="pub"><b>Publisher: </b>{{game?.information?.pub}}</li>
                    <li id="date"><b>Release Date: </b>{{game?.information?.date}}</li>
                    <li id="rating"><b>Rating: </b>{{game?.information?.rating}}</li>
                </ul>
            </div>
            <div class="col info">
                <h4>System Requirements</h4>
                <ul>
                    <li id="os"><b>OS: </b>{{game?.requirements?.os}}</li>
                    <li id="cpu"><b>Processor: </b>{{game?.requirements?.cpu}}</li>
                    <li id="ram"><b>Memory: </b>{{game?.requirements?.ram}}</li>
                    <li id="gpu"><b>Graphics: </b>{{game?.requirements?.gpu}}</li>
                    <li id="storage"><b>Storage: </b>{{game?.requirements?.storage}}</li>
                </ul>
            </div>
        </div>
    </div> 
</div>
