<div *ngIf="notFound">
    <four-zero-four></four-zero-four>
</div>
<div class="container flex-container" *ngIf="game">
    <div class="flex-left flex-vertical">
        <div>
            <h1>{{game?.title}}</h1>
            <hr>
        </div>
        <div>
            <img class="cover" src="../../assets/{{game.link}}.jpg">
        </div>
        <div>
            <a routerLink="/update/{{game.link}}" class="button-padding btn">Update</a>
            <a routerLink="/delete/{{game.link}}" class="button-padding btn">Delete</a>
        </div>
    </div>
    <div class="flex-right flex-vertical">
        <div class="flex-top info">
            <h4 class="centerTag">Summary:</h4>
            <p id="summary" class="centerTag">{{ game?.summary }}</p>
        </div>
        <div class="flex-bottom flex-vertical info">
            <div class="flex-title">
                <h4>Info</h4>
            </div>
            <div class="flex-body flex-container">
                <div class="col">
                    <ul>
                        <li id="developer"><b>Developer: </b>{{game?.information?.developer}}</li>
                        <li id="publisher"><b>Publisher: </b>{{game?.information?.publisher}}</li>
                        <li id="date"><b>Release Date: </b>{{game?.information?.date}}</li>
                        <li id="rating"><b>Rating: </b>{{game?.information?.rating}}</li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li id="series"><b>Series: </b>{{game?.information?.series}}</li>
                        <li id="genres"><b>Genres: </b>{{game?.information?.genres}}</li>
                        <li id="modes"><b>Modes: </b>{{game?.information?.modes}}</li>
                        <li id="platforms"><b>Platforms: </b>{{game?.information?.platforms}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
</div>
