.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-left {
    flex: 30%;
    align-items: center;
}

.flex-right {
    flex: 70%
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-top {
    flex: 45%
}

.flex-bottom {
    flex: 55%
}
.info {
    margin: 1em;
    padding: 1em;
}
.flex-title {
    flex: 20%;
}
.flex-body {
    flex: 80%;
}