$red-pink: #FF3551; 
$light-gray: rgb(173, 173, 173);
$light-black: rgb(48, 48, 48);

@mixin flex($padding, $width, $height) {
    box-sizing: border-box;
    padding: $padding;
    width: $width;
    height: $height;
}
@mixin border {
    border-style: solid; 
    border-color: black; 
    border-radius: 20px;
}
@mixin box-shadow {
    box-shadow: 0 0 .25em .25em $light-gray, 0 0 .25em .25em $light-gray;
}

.flexWrap {
    display: flex; 
    width: 100%;
} .flexCol1 {
    @include flex(10px, 25%, 100%)
} .flexCol2 {
    @include flex(10px, 75%, 100%)
} .flexCol3 {
    @include box-shadow();
    @include flex(10px, 100%, 33%); 
} .flexCol4{
    @include flex(5px, 100%, 66%); 
} .flexCol5 {
    @include box-shadow();
    @include flex(10px, 75%, 100%); 
} .flexCol6 {
    @include flex(10px, 100%, 33%); 
} .flexCol7 {
    @include flex(10px, 13%, 100%)
}

.text_remove {
    text-decoration: none; 
    color: $red-pink; 
    margin:0, 2em;
    &:hover {
        text-decoration: none; 
        color: inherit;
    };
}
.list_header{
    background-color: rgba(73, 73, 73, 1); 
    color: $red-pink; 
    border-radius: 5px;
    & > h5 {
        text-align: center; 
        margin-left: 2.5em;
    };
}
.list_entry {
    transition: background-color 0.5s; 
    border-radius: 5px;
    &:hover {
        background-color: rgba(73, 73, 73, 1);
        cursor: pointer;
    };
    h6 {
        text-align: center;
    };
}

.desc {
    @include border(); 
    margin-top: 1em;
    color: black; 
    background-color: white;
}
.info {
    @include border();
    color: black; 
    margin: 0.5em, 0.5em;
    background-color: white;
}
.modal {display: none; 
    position: fixed; 
    z-index: 1; 
    width: 75%; 
    height: 60%;
    background-color: rgba(0, 0, 0, 0.7); 
    transform: translate(15%, 15%); 
    border-radius: 5px;
}
.title {
    color: $red-pink;
}
.close {
    color: $red-pink; 
    float: right; 
    font-size: 28px; 
    font-weight: bold; 
    margin: 0, 0.5em; 
    &:hover, &:focus {
        color: black; 
        text-decoration: none; 
        cursor: pointer;
    };
}
.usr {
    text-align: center; 
    margin: 1em, 0; 
    & > img {
        float: center; 
        width: 50%; 
        height: 75%;
    };
}
.nav_text {
    color:$red-pink;
}

#hades {
    font-weight: 700;
}
#cover {    
    @include box-shadow();
    width: 232px;
    height: 320px;
}
#status {
    margin-top: 2em; 
    margin-bottom: 2em;
}
#header {
    color:$red-pink; 
    background-color: $light-gray; 
    font-weight: 600;
    z-index: 1;
}
#logo {
    margin: 1em; 
    width:85px; 
    height:48px; 
    opacity: 1;}
#footer {
    font-weight: 550;
}

div {
    font-family: Arial, Helvetica, sans-serif; 
    color: $red-pink;
}
body {
    background-color: $light-black;
}
h6 {
    align-self: right;
}
ul {
    list-style-type: none;
  }
