<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InDB</title>
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="shortcut icon" href="/images/logo.png">
</head>
<body>
    <header id="header" class="LayoutTop">
        <a href="index.html"><img src="/images/logo.png" id="logo"></a>
        <a class="text_remove" href="/view/index.html">Home</a> 
        <a class="text_remove" href="/view/list.html">List</a>  
        <a class="text_remove" href="/view/login.html">Login</a>
    </header>
    <div class="container">
        <main>
                <div class="form-group">
                    <form action="/" method="POST" id="login">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" id="title" placeholder="Title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="summary">Summary:</label>
                            <textarea id="summary" rows="5" cols="25" name="summary"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="dev">Developer:</label>
                            <input type="text" id="dev" placeholder="Developer" name="dev">
                            <label for="pub">Publisher:</label>
                            <input type="text" id="pub" placeholder="Publisher" name="pub"> 
                        </div>
                        <div class="form-group">
                            <label for="date">Release Date:</label>
                            <input type="date" id="date" name="date">
                            <label for="title">Genres:</label>
                            <input type="text" id="genres" placeholder="Genres" name="genres">
                            <label for="title">Rating:</label>
                            <input type="text" id="rating" placeholder="Rating" name="rating">
                        </div>
                        <div class="form-group">
                            <label for="os">OS:</label>
                            <input type="text" id="os" placeholder="OS" name="os">
                            <label for="cpu">Processor:</label>
                            <input type="text" id="cpu" placeholder="Processor" name="cpu">
                            <label for="ram">Memory:</label>
                            <input type="text" id="ram" placeholder="Memory" name="ram">
                        </div>
                        <div class="form-group">
                            <label for="gpu">Graphics:</label>
                            <input type="text" id="gpu" placeholder="Graphics" name="gpu">
                            <label for="storage">Storage:</label>
                            <input type="text" id="storage" placeholder="Storage" name="storage">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>  
        </main>
        <footer>
            <hr>
            <center>
                <p id="footer">Daniel Eager - Contact: | 
                    <a href="https://github.com/DanEager19" target="_blank">Github</a> | 
                    <a href="https://www.linkedin.com/in/dan-eager/" target="_blank">Linkedin</a> | 
                    <a href="https://twitter.com/ZionNyah" target="_blank">Twitter</a> | 
                    <a href="mailto:daneager19@gmail.com" target="_blank">Email</a>
                </p>
            </center>
        </footer>
    </div>
</body>
</html>